
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col text-center alert-info alert">
        <h3>On this site</h3>
        <p>
            <img src="https://image.flaticon.com/icons/svg/172/172048.svg"
                 alt="HTML5 Icon" width="64" height="64" />
            <br />
            Learn what vaccines are, how they work, and why they are important.
        </p>
        <p>
            <img src="https://cdn4.iconfinder.com/data/icons/typhoid-fever/205/typhoid-011-512.png" width="64" height="64" />
            <br />
            Track your own vaccines
        </p>
        <p>
            <img src="https://cdn3.iconfinder.com/data/icons/medical-8/512/physician-512.png" width="64" height="64" />
            <br />
            Give vaccines to patient as a medic.
        </p>
        <p>
            <img src="https://image.flaticon.com/icons/svg/504/504286.svg" width="64" height="64" />
            <br />
            First Aid panel with vital information about the patient.
        </p>
        <p>
            <img src="https://cdn0.iconfinder.com/data/icons/web-development-2/512/security_lock_password_protection_secure_locking_system_safe_privacy_private_safety_encryption_flat_design_icon-512.png"
                 width="64" height="64" />
            <br />
            Your information is fully encrypted and safe.
        </p>
    </div>
    <div class="col">
        <img alt="Vaccines picture" src="~/Images/logo.jpg" style="float: right; margin-left: 5px; margin-right: 5px;" />
    </div>
</div>





