@model ImmunIt.Models.Medic

@{
    ViewBag.Title = "VerifyAccount";
}

<h2>Verify Account</h2>
<hr />
<div class="alert alert-success" role="alert">
    Dear <strong>@Model.Name</strong>.<br />
    You have validated your email!<br />
    please Log in
</div>
