
@{
    ViewBag.Title = "WhatIsVac";
}

<h2>What are vaccines?</h2>

Vaccines are products that protect people against serious and potentially deadly diseases.<br />
Unlike most medicines that treat or cure diseases, <br />
vaccines prevent them.<br /><br />

<div class="field-items">
    <div class="field-item even">
        <p>
            <img alt="Vaccines picture" src="stepsforward-2017-0001-f001.png" style="width: 298px; height: 280px; float: right; margin-left: 5px; margin-right: 5px;" />

            <img src="https://cdn.edhub.ama-assn.org/ama/content_public/journal/steps-forward/937327/m_stepsforward-2017-0001-f001.png?Expires=2147483647&Signature=uuTD9yCQsb02-n1kPMnFKof6k7d8WjJEBebOVIXKiuUsXignVL-fJMm4S2LRljmej7F7QKF22PxdIGjj~kAuk4c7bJ5-lZ04HgB0-UzbmGISUoHCejm7U0e40HUXc2wL4YumbSwncDdgEPc~YYKXlLDqEMVMAjbGeHsGweRVsSrHc61eyEornXJGgwhCG632vzHfCnTQA3UdWLcO-dLHAOIL9lGaKlyoQ0w3zajvVjqy137St9zhxQHI8ynK8vqmTu4eM8J6qkVFfB-ZgrpOczkH1hSUVK1SHL9PsTaQ2EDqo9ns5Gb0zyLZk7uCrOvoC8tV0kJcqLB8G7UMv5e2Og__&Key-Pair-Id=APKAIE5G5CRDK6RD3PGA" alt="HTML5 Icon" width="128" height="128">
            On this site, you can learn what vaccines are, how they work, and why they are important.<br /><br />

            You will see the terms <b>vaccines, vaccinations</b> and <b>immunizations</b> used across this site.<br />
            The following is a simple guide to help you remember their definitions:<br /><br />

            <b>Vaccines</b> are products that produce immunity to a specific disease.<br />
            Most vaccines are given by injection (needle) but some are given orally (by mouth) or nasally (sprayed into the nose).<br />
            <br />

            <b>Vaccination</b> is the act of introducing a vaccine into the body<br />
            to produce immunity to a specific disease.
            <br /><br />

            <b>Immunization</b> is the process by which a person or animal becomes protected against a disease.<br />
            This term is often used interchangeably with vaccination.<br /><br />

            What does <b>immunity</b> mean?
            <br />
            <b>Immunity</b> is protection from a disease.<br />
            If you are immune to a disease, you can be exposed to it without becoming sick.
            <br /><br />







