
@{
    ViewBag.Title = "WhatIsVac";
}

<h2>What are vaccines?</h2>

Vaccines are products that protect people against serious and potentially deadly diseases.<br />
Unlike most medicines that treat or cure diseases, <br />
vaccines prevent them.<br /><br />

<div class="field-items">
    <div class="field-item even">
        <p>

            On this site, you can learn what vaccines are, how they work, and why they are important.<br /><br />

            You will see the terms <b>vaccines, vaccinations</b> and <b>immunizations</b> used across this site.<br />
            The following is a simple guide to help you remember their definitions:<br /><br />

            <b>Vaccines</b> are products that produce immunity to a specific disease.<br />
            Most vaccines are given by injection (needle) but some are given orally (by mouth) or nasally (sprayed into the nose).<br />
            <br />

            <b>Vaccination</b> is the act of introducing a vaccine into the body<br />
            to produce immunity to a specific disease.
            <br /><br />

            <b>Immunization</b> is the process by which a person or animal becomes protected against a disease.<br />
            This term is often used interchangeably with vaccination.<br /><br />

            What does <b>immunity</b> mean?
            <br />
            <b>Immunity</b> is protection from a disease.<br />
            If you are immune to a disease, you can be exposed to it without becoming sick.
            <br /><br />
        </p>
    </div>
</div>