
@{
    ViewBag.Title = "WhyVac";
}

<h2>Why vaccinate?</h2>
<br />

Here are three important reasons to vaccinate.<br />
<br />
1. Vaccines save lives
Vaccines have saved more lives in Canada than any other medical intervention in the past 50 years. Before vaccines were available, many Canadians died from diseases that we can now prevent. Vaccines also prevent diseases that are seldom deadly but can cause pain and permanent disability.

Examples:
In the early 1900s, before the polio vaccine was introduced, thousands of Canadians were paralyzed or died from polio. Thanks to vaccination, Canada has been polio free for the last 20 years.
Before the introduction of the Haemophilus influenzae type b (Hib) vaccine in 1988, Hib was the most common cause of bacterial meningitis (a serious and life-threatening infection) among children younger than 5 years of age in Canada. Every year about 1500 cases of Hib meningitis occurred in Canada in children under the age of 5. Since introduction of the vaccine, Hib infections have almost disappeared in Canada.
2. Vaccine-preventable diseases are still out there
Many of the diseases vaccines prevent are now rarely seen in Canada, largely because of vaccine programs. But the germs that cause these diseases still exist, and some of these diseases such as pertussis (whooping cough), measles and mumps still occur in small numbers in Canada. If vaccination rates drop, these small numbers of diseases could quickly become outbreaks and epidemics of disease. We have seen this happen in other countries:

A pertussis epidemic in Japan: In 1974 in Japan, rumours began to spread that pertussis vaccination was no longer needed and that the vaccine was not safe.  By 1976 only 1 in 10 infants were getting vaccinated. In 1979 Japan suffered a major pertussis epidemic, with more than 13,000 cases of pertussis and 41 deaths. In 1981, the government began vaccinating with the acellular pertussis vaccine and the number of pertussis cases dropped again.
Measles in Ireland: Ireland saw measles cases soar from 148 cases in 1999 to 1,200 cases just one year later when MMR (measles, mumps and rubella) immunization rates dropped to 76%. Rates dropped because of unfounded reports that linked the MMR vaccine to autism, which has been disproven. Several children died in this outbreak.
Also, many of the diseases that are now rarely seen in Canada, such as polio, diphtheria, and measles, are still quite common in other countries. These diseases are only a plane ride away. Without protection from vaccines, these diseases would spread quickly and outbreaks would occur. We saw this happen recently in a B.C. community with low vaccination rates:

Measles outbreak in the Fraser Valley: In 2014, the Fraser Valley experienced the largest measles outbreak in B.C. in almost 30 years. It was thought to be caused by a traveller from the Netherlands, where another outbreak was occurring. Low immunization rates in one community allowed measles to spread quickly, resulting in over 400 cases.
Until these diseases are eliminated completely, we need to keep vaccinating against them to protect ourselves and others.

An analogy:
It’s just like a boat that has a slow leak. The water is the disease, and a bucket for bailing is the vaccine. Before we started bailing out the water (vaccinating), the boat was filled with water (disease). We have been bailing (vaccinating) fast and hard, and now the boat is almost dry. We could say, "Good. The boat is dry now, so we can throw away the bucket (stop vaccinating) and relax" — except that the leak hasn't stopped (the diseases are still present). Before long, we'd notice water (disease) seeping in, and soon it might be back up to the same level as when we started. Unless we can "stop the leak" (eliminate the disease), it is important to keep bailing (vaccinating).



<img alt="" src="stepsforward-2017-0001-f001.png" style="width: 298px; height: 280px; float: right; margin-left: 5px; margin-right: 5px;" />



3. Vaccines protect everyone
Vaccines don't just protect the people getting vaccinated; they protect everyone around them too.

The more people in a community who are vaccinated, the harder it is for a disease to spread. If a person infected with a disease comes in contact only with people who are immune (have been vaccinated), the disease will have little opportunity to spread. The type of protection created when most people are vaccinated is called “herd immunity." It means that many of us are protecting each other, and especially the most vulnerable among us, such as:

Babies who are too young to be fully vaccinated.
People who cannot get receive certain vaccines for medical reasons, such as a child receiving treatment for cancer.
People who may not adequately respond to immunization, such as elders with poor immune systems.
When vaccination rates drop in a community, it’s easier for a disease to spread from person to person and cause an outbreak.

Vaccines also protect future generations. Just like we are no longer at risk of smallpox, thanks to vaccines, in the future we may be able to wipe out other diseases, like polio and measles. To eliminate these diseases in the future, we need high vaccination rates now.



<br /><br />







