
@{
    ViewBag.Title = "Index";
}

<h2>Patient Index</h2>
<ul class="list-group-item-primary">
    <li class="list-group-item">
        <a href="@Url.Action("WatchVaccinesInfo", "Patient")">Watch Vaccines Info</a>
    </li>
</ul>
