@model ImmunIt.ViewModels.ViewModel
@{
    ViewBag.Title = "WatchVaccineInfo";
}

<h2>WatchVaccineInfo</h2>
<hr /> 
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>ExpDate</th>
        </tr>
    </thead>
    @foreach (var vaccine in Model.vaccinesJson)
    {
        <tr>
            <td>@vaccine.Id</td>
            <td>@vaccine.Name</td>
            <td>@vaccine.Description</td>
            <td>@vaccine.ExpDate</td>
        </tr>
    }
</table>
