@model ImmunIt.ViewModels.ViewModel
@{
    ViewBag.Title = "WatchVaccineInfo";
}

<h2>WatchVaccineInfo</h2>
<hr /> 
<table class="table">
    <thead>
        <th>
            <td></td>
            <td></td>
            <td></td>
        </th>
    </thead>
</table>
